
:root {
	--background: #F3F3F3;
	--white: #FDFDFD;
	--black: #3F3F3F;
	--grey: #CFCFCF;
	--grey2: #DFDFDF;
	--blue: #7C93A8;
	--text-dark: #444444;
	--text-darker: #444444;
	--text-light: #444444;
}

body {
  margin: 0;
	padding: 0;
  background: var(--background);
}

body::before {
  position: absolute
}

h1 {
  font-weight: 100;
  font-family: 'Poiret One', serif;
  font-size: 10vh;
  margin: 0;
}

h2 {
  font-family: 'Poiret One', serif;
  font-size: 6vh;
  margin: 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

p {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 2vh;
  margin: 0;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 800px) {
		p {
      font-size: 2.3vh;
		}
	}
