
:root {
	--background: #F9F9F9 ;
	--white: #F9F9F9;
	--black: #3F3F3F;
	--border: #CDCDCD;
	--grey: #E5E5E5;
	--dark-grey: #B0B0B0;
	--text-dark: #444444;
	--text-darker: #444444;
	--text-light: #888888;
}

body {
  margin: 0;
	padding: 0;
  background: var(--background)
}

body::before {
  position: absolute
}

text {
  font-family: 'Assistant', serif;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 4.1vh;
  margin: 0 2vw;
  text-align: center;
  color: var(--black);
  font-weight: 100;
}

h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
	font-size: 3.2vh;
  font-weight: 100;
  text-align: center;
  color: var(--black);
  margin: 0;
}

h3 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.8vh;
  font-weight: 300;
  font-style: italic;
  color: var(--text-light);
  margin: 0;
}

h4 {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size: 1vh;
  font-weight: 100;
  color: var(--black);
  margin: 0;
}

p {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  opacity: 80%;
  margin: 0;
  font-size: 2vh;
  line-height: 120%;
  color: var(--black);
}

li {
  font-family: 'Assistant', serif;
  font-weight: 300;
  font-size: 1.8vh;
  list-style: none;
  color: var(--black);
}

a {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--black);
}


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (min-aspect-ratio: 1/1) {
    h1 {
      font-size: 3vw;
    }

    h2 {
	    font-size: 2vw;
    }

    h3 {
      font-size: 2vh;
    }

    h4 {
      font-size: 1.3vh;
    }

    p {
      opacity: 80%;
      font-size: 15px;
      line-height: 140%;
      color: var(--black);
    }

    li {
      font-size: 15px;
    }

    a {
      font-size: 18px;
    }

    body {
    }
	}
